<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="titulo">
        <h1 class="text-center">Sobre Nosotros</h1>
      </div>
    </div>
    <div class="col-md-12">
      <p>
        COLOMBIA GAMERS, UN ESTILO DE VIDA Somos una comunidad de videojugadores
        dedicada a la VENTA, INTERCAMBIO y NOTICIAS del mundo de los
        videojuegos. Nació de la idea de ofrecer videojuegos, consolas y
        accesorios sumado con una excelente atención al cliente, compartir
        conocimientos y asesoría responsable.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Poco a poco nos hemos expandido a otras áreas como lo son los torneos y
      eventos gamer. En nuestra tienda, redes sociales y página web podrás
      encontrar productos, noticias, eventos y una comunidad de videojugadores
      de todas las edades e intereses. MISIÓN Brindar todo tipo de productos
      para el videojugador, prestar asesoría responsable a cada uno de nuestros
      clientes, preparar y participar en torneos para el videojugador
      Colombiano. VISIÓN Ser la tienda líder y referente para los videojugadores
      de Colombia, donde podrán encontrar productos relacionados con los
      videojuegos, torneos y noticias.
    </div>
  </div>
</div>
